@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap')

* 
  outline: none
a:hover 
  text-decoration: none

body 
  font-family: 'Noto Sans', sans-serif
  background: #fff
  header 
    nav.navbar
      padding: 59px 63px 7px 30px
      a.navbar-brand 
        font-size: 14px
        line-height: 1.14
        color: #000000
        p 
          padding: 0 38px 0 12px
      div
        align-items: baseline
        ul 
          li
            padding: 0 11px
            a.nav-link
              line-height: 2
              color: #000!important
            &:nth-child(1) 
              a.nav-link
                border-bottom: 2px solid#ce0000
            &:nth-child(2) 
              a.nav-link
                color: #7f7f7f!important
            &:nth-child(3) 
              a.nav-link
                border-bottom: 2px solid #1e9cd8
            &:nth-child(4) 
              a.nav-link
                border-bottom: 2px solid #4d6360
            &:nth-child(5) 
              a.nav-link
                border-bottom: 2px solid #d82399
            &:nth-child(6) 
              a.nav-link
                border-bottom: 2px solid #2943dd
            &:nth-child(7) 
              a.nav-link
                border-bottom: 2px solid #3c7ce6
            &:nth-child(8) 
              a.nav-link
                border-bottom: 2px solid #fbac19
            &:nth-child(9)
              background: #f9da08
              border-radius: 16px
              padding: 0 16px
              margin-left: 24px
              a.nav-link
                margin-top: 1px
        div:last-of-type
          font-size: 12px
          line-height: 1.67
          a 
            font-size: 24px
            font-weight: bold
            line-height: 0.67
            color: #000000

  main 
    padding: 0 30px
    .owl-carousel 
      .item
        background: url('../img/carousel_img_fone.jpg') no-repeat
        background-size: cover
        background-position: center 
        height: 76vh
      .owl-dots 
        position: absolute
        left: 104px
        bottom: 68px
        .owl-dot
          span 
            width: 16px
            height: 16px
            border: solid 1px #fff
            background-color: transparent
          &.active 
            span
              background-color: #fff
    // секция "Что мы производим"
    section.production
      padding: 129px 0 70px 30px
      div
        div 
          h2 

          p 

          a
            border-radius: 30px
            background-color: #e6e6e6
            width: 159px
            height: 60px
    // секция "Акции"
    section.shares
      padding: 70px 0 70px 30px
      // секция "Портфолио"
    section.portfolio
      padding: 70px 0 70px 30px
      // секция "Отзывы"
    section.reviews
      padding: 70px 0 70px 30px
      // секция "Блок с болтовней"
    section.chatter_block
      padding: 70px 0 70px 30px
      // секция "Конструктор"
    section.constructor
      padding: 70px 0 70px 30px
             


  