@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  outline: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 60px;
  margin-bottom: 2.5rem;
}

h2 {
  font-weight: 700;
}

h4 {
  padding: 0 0 26px 0;
  color: #6e6e6e;
  overflow-wrap: break-word;
}

p {
  font-size: 1.1rem;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: #fff;
  color: #000;
}

body header nav.navbar {
  padding: 59px 63px 7px 30px;
}

body header nav.navbar a.navbar-brand {
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}

body header nav.navbar a.navbar-brand p {
  padding: 0 38px 0 12px;
}

body header nav.navbar div {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body header nav.navbar div ul li {
  padding: 0 11px;
}

body header nav.navbar div ul li a.nav-link {
  line-height: 2;
  color: #000 !important;
}

body header nav.navbar div ul li:nth-child(1) a.nav-link {
  border-bottom: 2px solid #ce0000;
}

body header nav.navbar div ul li:nth-child(2) a.nav-link {
  color: #7f7f7f !important;
}

body header nav.navbar div ul li:nth-child(3) a.nav-link {
  border-bottom: 2px solid #1e9cd8;
}

body header nav.navbar div ul li:nth-child(4) a.nav-link {
  border-bottom: 2px solid #4d6360;
}

body header nav.navbar div ul li:nth-child(5) a.nav-link {
  border-bottom: 2px solid #d82399;
}

body header nav.navbar div ul li:nth-child(6) a.nav-link {
  border-bottom: 2px solid #2943dd;
}

body header nav.navbar div ul li:nth-child(7) a.nav-link {
  border-bottom: 2px solid #3c7ce6;
}

body header nav.navbar div ul li:nth-child(8) a.nav-link {
  border-bottom: 2px solid #fbac19;
}

body header nav.navbar div ul li:nth-child(9) {
  background: #f9da08;
  border-radius: 16px;
  padding: 0 16px;
  margin-left: 24px;
}

body header nav.navbar div ul li:nth-child(9) a.nav-link {
  margin-top: 1px;
}

body header nav.navbar div div:last-of-type {
  font-size: 12px;
  line-height: 1.67;
}

body header nav.navbar div div:last-of-type a {
  font-size: 24px;
  font-weight: bold;
  line-height: 0.67;
  color: #000000;
}

body main {
  padding: 0 30px;
}

body main .owl-carousel .item {
  background: url("../img/carousel_img_fone.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 76vh;
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .owl-carousel .item div {
  color: #fff;
  line-height: 100px;
  padding-left: 103px;
}

body main .owl-carousel .owl-dots {
  position: absolute;
  left: 104px;
  bottom: 68px;
}

body main .owl-carousel .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  border: solid 1px #fff;
  background-color: transparent;
}

body main .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #fff;
}

.row_icon .row {
  margin: 0;
}

.row_icon .row div {
  padding: 0;
}

.row_icon .row div div {
  height: 285px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 31px 32px;
}

.row_icon .row div div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00000036), to(#00000000));
  background-image: linear-gradient(to top, #00000036, #00000000);
}

section.production {
  padding: 129px 0 70px 30px;
}

section.production div div:first-child div form button {
  border-radius: 40px;
  border: none;
  background: #e6e6e6;
  padding: 19px 28px;
  margin: 0 18px 25px 0;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.production div div:first-child div form button:hover {
  background: #f9da08;
}

section.production div div:first-child form.submit_application button {
  border-radius: 40px;
  border: none;
  background: #f9da08;
  padding: 19px 28px;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

section.production div div.row_icon .row div:nth-child(1) div {
  background: url("../img/internal_img_1.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(2) div {
  background: url("../img/internal_img_2.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(3) div {
  background: url("../img/internal_img_3.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(4) div {
  background: url("../img/internal_img_4.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(5) div {
  background: url("../img/internal_img_5.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(6) div {
  background: url("../img/internal_img_6.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(7) div {
  background: url("../img/internal_img_7.jpg") no-repeat;
  background-size: cover;
}

section.production div div.row_icon .row div:nth-child(8) div {
  background: url("../img/internal_img_8.jpg") no-repeat;
  background-size: cover;
}

section.shares {
  padding: 70px 0 70px 30px;
}

section.shares div div.row_icon .row div:nth-child(1) div {
  background: url("../img/internal_img_1.jpg") no-repeat;
  background-size: cover;
}

section.shares div div.row_icon .row div:nth-child(2) div {
  background: url("../img/internal_img_2.jpg") no-repeat;
  background-size: cover;
}

section.portfolio {
  padding: 70px 0 70px 30px;
}

section.portfolio div div.row_icon .row div:nth-child(1) div {
  background: url("../img/portfolio_img_case.jpg") no-repeat;
  background-size: cover;
}

section.portfolio div div.row_icon .row div:nth-child(2) div {
  background: url("../img/portfolio_img_case.jpg") no-repeat;
  background-size: cover;
}

section.portfolio div div.row_icon .row div:nth-child(3) div {
  background: url("../img/portfolio_img_case.jpg") no-repeat;
  background-size: cover;
}

section.portfolio div div.row_icon .row div:nth-child(4) div {
  background: url("../img/portfolio_img_case.jpg") no-repeat;
  background-size: cover;
}

section.reviews {
  padding: 70px 0 70px 30px;
}

section.reviews div div.row_icon .row div:nth-child(1) div {
  background: url("../img/reviews_internal_1.jpg") no-repeat;
  background-size: cover;
}

section.reviews div div.row_icon .row div:nth-child(2) div {
  background: url("../img/reviews_internal_2.jpg") no-repeat;
  background-size: cover;
}

section.reviews div div.row_icon .row div:nth-child(3) div {
  background: url("../img/reviews_internal_3.jpg") no-repeat;
  background-size: cover;
}

section.chatter_block {
  padding: 70px 0 70px 30px;
}

section.chatter_block .row div:first-child h4 {
  width: 85%;
  line-height: 1.6;
}

section.chatter_block .row div:last-child {
  padding: 0 30px;
}

section.chatter_block .row div:last-child h2 {
  padding: 21px 0 26px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

section.chatter_block .row div:last-child h5 {
  color: #3da100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

section.chatter_block .row div:last-child p {
  line-height: 1.7;
  margin-bottom: 34px;
  font-family: 'Open Sans', sans-serif;
}

section.constructor {
  padding: 70px 0 70px 30px;
}

section.constructor .row div:last-child {
  padding: 0 0 0 30px;
}

section.constructor .row div:last-child img {
  width: 96%;
}

footer {
  padding: 0 30px;
}

.logo {
  width: 83px;
}

.social_icon_svg {
  width: 50px;
  height: 50px;
  margin: .5em;
}
/*# sourceMappingURL=style.css.map */