@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap')

* 
  outline: none
button:focus 
  outline: none
a:hover 
  text-decoration: none
img 
  width: 100%
h1
  font-size: 60px
  margin-bottom: 2.5rem
  @media screen and (max-width: 1500px)
    font-size: 45px
  @media screen and (max-width: 1200px)
    font-size: 39px
  @media screen and (max-width: 1100px)
    font-size: 35px
h2:not(.news_block_h2_footer)
  font-weight: 700
h4 
  padding: 0 0 26px 0
  color: #6e6e6e
  overflow-wrap: break-word
  @media screen and (max-width: 1500px)
    font-size: 20px
  @media screen and (max-width: 1200px)
    font-size: 16px
  @media screen and (max-width: 1100px)
    font-size: 14px
p 
  font-size: 1.1rem
html, body
  font-family: 'Noto Sans', sans-serif
  background: #fff
  color: #000
  overflow-x: hidden
  position: relative
body 
  height: 100vh
  header 
    nav.navbar
      padding: 59px 75px 7px 30px
      justify-content: space-between
      a.navbar-brand 
        font-size: 14px
        line-height: 1.14
        color: #000000
        p 
          padding: 0 38px 0 12px
      div
        align-items: baseline
        justify-content: flex-end
        ul 
          li
            padding: 0 11px
            a.nav-link
              line-height: 2
              color: #000!important
            &:nth-child(1) 
              a.nav-link
                border-bottom: 2px solid#ce0000
            &:nth-child(2) 
              a.nav-link
                color: #7f7f7f!important
            &:nth-child(3) 
              a.nav-link
                border-bottom: 2px solid #1e9cd8
            &:nth-child(4) 
              a.nav-link
                border-bottom: 2px solid #4d6360
            &:nth-child(5) 
              a.nav-link
                border-bottom: 2px solid #d82399
            &:nth-child(6) 
              a.nav-link
                border-bottom: 2px solid #2943dd
            &:nth-child(7) 
              a.nav-link
                border-bottom: 2px solid #3c7ce6
            &:nth-child(8) 
              a.nav-link
                border-bottom: 2px solid #fbac19
            &:nth-child(9)
              background: #f9da08
              border-radius: 16px
              padding: 0 16px
              margin-left: 24px
              a.nav-link
                margin-top: 1px
          @media screen and (max-width: 1500px)
            display: none


  main 
    padding: 0 30px
    .owl-carousel 
      .item
        background: url('../img/carousel_img_fone.jpg') no-repeat
        background-size: cover
        background-position: center 
        height: 76vh
        font-size: 80px
        display: flex
        align-items: center
        @media screen and (max-width: 1500px)
          font-size: 60px
        div
          color: #fff
          line-height: 100px
          padding-left: 103px
          @media screen and (max-width: 1500px)
            line-height: 71px
      .owl-dots 
        position: absolute
        left: 104px
        bottom: 68px
        .owl-dot
          span 
            width: 16px
            height: 16px
            border: solid 1px #fff
            background-color: transparent
          &.active 
            span
              background-color: #fff
    // картинки главной страницы
    .home_page
      div
        color: #fff
        height: 277px
        padding: 32px
        @media screen and (max-width: 1500px)
          padding: 28px
        @media screen and (max-width: 1200px)
          padding: 18px
        a 
          cursor: pointer
          div
            div.icon_in_box_home 
              position: absolute
              width: 50px
              height: 50px
              border-radius: 50%
              bottom: 12%
              right: 7%
              img 
                width: 30px
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                margin: auto
        &:nth-child(1) 
          a 
            div 
              div
                background-color: #ce0000
        &:nth-child(2) 
          a 
            div 
              div
                background-color: #000
        &:nth-child(3) 
          a 
            div 
              div
                background-color: #1e9cd8
        &:nth-child(4) 
          a 
            div 
              div
                background-color: blue
                overflow: hidden
                img 
                  width: 100%
        &:nth-child(5) 
          a 
            div 
              div
                background-color: #a64785
        &:nth-child(6) 
          a 
            div 
              div
                background-color: #ffcc00
        &:nth-child(7) 
          a 
            div 
              div
                background-color: #2e3192
        &:nth-child(8) 
          a 
            div 
              div
                background-color: #fbac19
              
        h3  
          font-size: 30px
          width: 66%
          @media screen and (max-width: 1600px)
            font-size: 26px
            width: 56%
          @media screen and (max-width: 1200px)
            font-size: 23px
        
        
        &:nth-child(1)
          div:not(.icon_in_box_home)
            background: url('../img/home_celebration.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 2-й ==========
        &:nth-child(2)
          div:not(.icon_in_box_home)
            background: url('../img/home_polygraphy.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 3-й ==========
        &:nth-child(3)
          div:not(.icon_in_box_home)
            background: url('../img/home_souvenir.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 4-й ==========
        &:nth-child(4)
          div:not(.icon_in_box_home)
            background: url('../img/home_leading.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 5-й ==========
        &:nth-child(5)
          div:not(.icon_in_box_home)
            background: url('../img/home_bouquet.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 6-й ==========
        &:nth-child(6)
          div:not(.icon_in_box_home)
            background: url('../img/home_portrait.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 7-й ==========
        &:nth-child(7) 
          div:not(.icon_in_box_home)
            background: url('../img/home_consultation.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        //блок 8-й ==========
        &:nth-child(8) 
          div:not(.icon_in_box_home)
            background: url('../img/home_business_events.jpg') no-repeat
            background-size: cover
            background-position: right
            @media screen and (max-width: 1100px)
              background-position: center
        &:nth-child(9) 
          div
            color: #000
            background-color: #dfdfdf
            h5 
              font-size: 15px
              @media screen and (max-width: 1200px)
                font-size: 12px
            >strong 
              font-size: 10px
            p 
              font-size: 14px
.row_icon
  padding: 0
  .row 
    margin: 0
    div
      padding: 15px
      div  
        height: 285px
        border-radius: 10px
        overflow: hidden
        position: relative
        padding: 31px 32px
        cursor: pointer
        &:after 
          content: ''
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          background-image: linear-gradient(to top, #00000036, #00000000)
        @media screen and (max-width: 1800px)
          height: 257px
          padding: 19px
        @media screen and (max-width: 1500px)
          height: 209px
          padding: 19px
        @media screen and (max-width: 1370px)
          height: 186px
          padding: 19px
// секция "Что мы производим"
section.production
  padding: 129px 0 70px 30px
section.production, section.blog_news
  div
    div:first-child
      div
        form 
          button
            border-radius: 40px
            border: none
            background: #e6e6e6
            padding: 19px 28px
            margin: 0 18px 25px 0
            font-size: 20px
            transition: 0.2s
            &:hover
              background: #f9da08
            @media screen and (max-width: 1680px)
              font-size: 14px
              padding: 12px 23px
            @media screen and (max-width: 1480px)
              font-size: 12px
              padding: 8px 19px
            @media screen and (max-width: 1330px)
              padding: 8px 14px
              margin: 0 10px 19px 0
            @media screen and (max-width: 1100px)
              font-size: 10px
              padding: 6px 17px
    div.row_icon 
      .row 
        div 
          div 
          //блок 1-й ==========
          &:nth-child(1)
            div 
              background: url('../img/internal_img_1.jpg') no-repeat
              background-size: cover
          //блок 2-й ==========
          &:nth-child(2)
            div 
              background: url('../img/internal_img_2.jpg') no-repeat
              background-size: cover
          //блок 3-й ==========
          &:nth-child(3)
            div 
              background: url('../img/internal_img_3.jpg') no-repeat
              background-size: cover
          //блок 4-й ==========
          &:nth-child(4)
            div 
              background: url('../img/internal_img_4.jpg') no-repeat
              background-size: cover
          //блок 5-й ==========
          &:nth-child(5)
            div 
              background: url('../img/internal_img_5.jpg') no-repeat
              background-size: cover
          //блок 6-й ==========
          &:nth-child(6)
            div 
              background: url('../img/internal_img_6.jpg') no-repeat
              background-size: cover
          //блок 7-й ==========
          &:nth-child(7) 
            div
              background: url('../img/internal_img_7.jpg') no-repeat
              background-size: cover
          //блок 8-й ==========
          &:nth-child(8) 
            div
              background: url('../img/internal_img_8.jpg') no-repeat
              background-size: cover
// Секция акции =========
section.shares
  padding: 70px 0 70px 30px
  div
    div.row_icon 
      .row 
        div 
          div 
          //блок 1-й ==========
          &:nth-child(1)
            div 
              background: url('../img/internal_img_1.jpg') no-repeat
              background-size: cover
          //блок 2-й ==========
          &:nth-child(2)
            div 
              background: url('../img/internal_img_2.jpg') no-repeat
              background-size: cover
  
// секция "Портфолио"
section.portfolio
  padding: 70px 0 70px 30px
  div
    div.row_icon 
      .row 
        div 
          div 
          //блок 1-й ==========
          &:nth-child(1)
            div 
              background: url('../img/portfolio_img_case.jpg') no-repeat
              background-size: cover
          //блок 2-й ==========
          &:nth-child(2)
            div 
              background: url('../img/portfolio_img_case.jpg') no-repeat
              background-size: cover
          //блок 3-й ==========
          &:nth-child(3)
            div 
              background: url('../img/portfolio_img_case.jpg') no-repeat
              background-size: cover
          //блок 4-й ==========
          &:nth-child(4)
            div 
              background: url('../img/portfolio_img_case.jpg') no-repeat
              background-size: cover
  
// секция "Отзывы"
section.reviews
  padding: 70px 0 70px 30px
  div
    div.row_icon 
      .row 
        div 
          div 
          //блок 1-й ==========
          &:nth-child(1)
            div 
              background: url('../img/reviews_internal_1.jpg') no-repeat
              background-size: cover
          //блок 2-й ==========
          &:nth-child(2)
            div 
              background: url('../img/reviews_internal_2.jpg') no-repeat
              background-size: cover
          //блок 3-й ==========
          &:nth-child(3)
            div 
              background: url('../img/reviews_internal_3.jpg') no-repeat
              background-size: cover
// секция "Блок с болтовней"
section.chatter_block
  padding: 70px 0 70px 30px
  .row 
    div:first-child 
      h4 
        width: 85%
        line-height: 1.6
    div:last-child 
      padding: 0 30px
      h2 
        padding: 21px 0 26px 0
        font-family: 'Open Sans', sans-serif
        font-weight: 800
      h5 
        color: #3da100
        font-family: 'Open Sans', sans-serif
        font-weight: 700
      p 
        line-height: 1.7
        margin-bottom: 34px
        font-family: 'Open Sans', sans-serif
// секция "Конструктор"
section.constructor
  padding: 70px 0 110px 30px
  .row 
    div:first-child 
    div:last-child 
      padding: 0 0 0 30px
      img 
        width: 96%
// секция новости в блоге 
section.blog_news 
  padding: 129px 0 54px 0
  @media screen and ( max-width: 1200px )
    padding: 52px 0 40px 0
  .row 
    border-bottom: 1px solid #aaa
    >div:first-child
      padding-left: 88px
      @media screen and ( max-width: 1200px )
        padding-left: 15px
      h4 
        padding: 0 0 49px 0
        line-height: 1.5
        width: 90%
    >div:last-child
      >div
        padding: 18px 0 40px 0
        border-bottom: 1px solid #aaa
        @media screen and ( max-width: 1500px )
          padding: 10px 0 40px 0
        @media screen and ( max-width: 1200px )
          padding: 75px 0 40px 0
        >strong 
          font-size: 12px
        >h2 
          margin: 13px 0 30px 0
          font-family: Myriad Pro
        img 
          padding: 0 0 29px 0
      >div:last-child 
        padding: 40px 0 40px 0
        border-bottom: none
footer.template_footer 
  padding: 0 30px 110px 30px
  @media screen and ( max-width: 1200px )
    padding: 0 30px 30px 30px
  >.row  
    &:before 
      display: none
footer 
  padding: 70px 30px 110px 30px
  >.row  
    position: relative
    &:before 
      content: ''
      border: solid 1px #aaa
      position: absolute
      top: -70px
      width: 100%
    
footer, .template_footer
  >.row 
    >div:first-of-type 
      padding: 0 55px 0 58px
      p 
        font-size: 20px
        line-height: 33px
        @media screen and (max-width: 1500px)
          font-size: 15px
      h2
        span
          border-bottom: solid 1px #0000004a
      >strong 
        font-size: 12px
  .social_icons_email 
    div:last-of-type 
      padding: 6px 0 0 7px
      a 
        font-family: Myriad Pro
        font-size: 20px
        color: #000
        span 
          border-bottom: solid 1px #0000004a
        @media screen and (max-width: 1500px)
          font-size: 15px
  .address_map 
    p 
      padding-top: 70px
      font-family: Myriad Pro
      font-size: 20px
      @media screen and (max-width: 1500px)
        font-size: 16px
    iframe 
      width: 100%
      height: 547px
  .social_icon_svg
    width: 42px
    height: 42px
    margin: .5em
    @media screen and (max-width: 1500px)
      width: 30px
      height: 30px  
.tel_number_1,
.tel_number_2
  a 
    line-height: 0.67
    color: #000000
.tel_number_1
  font-size: 12px
  line-height: 1.67
  a 
    font-size: 24px
    font-weight: bold
    line-height: 0.67
.tel_number_2
  font-size: 20px
  line-height: 3.7
  @media screen and (max-width: 1500px)
    font-size: 14px
    padding-top: 9px
  a 
    font-size: 60px
    @media screen and (max-width: 1500px)
      font-size: 38px
form.submit_application_1, 
form.submit_application_2
  button
    border-radius: 40px
    border: none
    background: #f9da08
    padding: 19px 28px
    font-size: 20px
    transition: 0.2s
    @media screen and (max-width: 1500px)
      font-size: 14px
      padding: 12px 23px
form.submit_application_1
  position: absolute
  bottom: 15px
  left: 20px
  @media screen and (max-width: 1200px)
    position: relative
    margin: 20px 0
form.submit_application_2
  margin: 9px 0 0 0

// спрайт svg ==============
.logo 
  width: 58px
  height: 53px

// полоса прокрутки ============
::-webkit-scrollbar 
  width: 2px
  background-color: #D6D6D6
::-webkit-scrollbar-thumb 
  border-radius: 2px
  background-color: #D39C74

// стили модального окна ==============
.modal-backdrop 
  background-color: transparent
.modal-dialog 
  max-width: 63%
  margin: 0 auto
  @media screen and (max-width: 1200px)
    max-width: 80%
  @media screen and (max-width: 992px)
    max-width: 90%
  .modal-content 
    flex-direction: row
    border-radius: 20px
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3)
    border: none
    overflow: hidden
    @media screen and (max-width: 768px)
      flex-direction: column
    .modal-header 
      img 
        height: 101%
    .modal-body
      padding: 68px 36px 0 24px
      p 
        font-size: 16px
        @media screen and (max-width: 992px)
          font-size: 12px 
      .close 
        position: absolute
        top: 15px
        right: 24px
        font-size: 40px
      .modal-title 
        line-height: 35px
        padding-bottom: 20px
        @media screen and (max-width: 992px)
          font-size: 18px 
          line-height: 25px

// меню выдвигающееся
.menu_1 
  width: 300px
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2)
  background-color: #f3f3f3
  position: absolute
  top: 43px
  right: -370px
  z-index: 9
  transition: 0.5s
  display: block
  >button 
    position: absolute
    right: 8%
    top: 2%
    span 
      border-bottom: 2px solid #000
      display: block
      width: 16px
      margin: 3.5px 0

  .navbar-nav 
    font-size: 20px
    line-height: 46px
    border-bottom: 1px solid #000
    padding: 24px 30px
    .nav-link
      color: #000
  .box_form 
    padding: 24px 30px   
  .button_menu
    width: 30px
    height: 30px
    border: solid 1px #bfbfbf
    background-color: #fff
    border-radius: 50%
    position: absolute
    left: -43%
    top: 2%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    span 
      border-bottom: 2px solid #000
      display: block
      width: 16px
      margin: 1.5px 0
  // .button_menu_home 
  //   left: -192%
  h3 
    margin-bottom: 20px
    font-size: 24px
  form 
    button  
      border-radius: 40px
      border: none
      background: #fd852f
      color: #000
      padding: 14px
      width: 100%
      font-size: 16px
      transition: 0.2s
    .form-check 
      label 
        font-size: 12px
        margin-bottom: 20px
  .social_icon_svg 
    margin-bottom: 12px
    a 
      svg 
        width: 20px
        height: 24px
        margin: .5em
  .orange_img_menu 
    margin: 100px 0 37px 0
    svg
      width: 50px
      height: 50px
  p 
    line-height: 16px 
    font-size: 12px
.hidden_menu_1 
  right: 1.5%
.position_menu_button 
  left: -5%!important
  top: 2%!important
.navbar_line_active_1, 
.navbar_line_active_2
  width: 10px!important
  margin: 0!important
.navbar_line_active_1 
  transform: rotate(-45deg)
.navbar_line_active_2
  transform: rotate(45deg) 
.navbar_line_active_3
  opacity: 0
.navbar_line_mobile_active_1, 
.navbar_line_mobile_active_2
  position: absolute
.navbar_line_mobile_active_1 
  transform: rotate(-45deg)
  top: 50%
.navbar_line_mobile_active_2
  transform: rotate(45deg) 
  bottom: 0
.navbar_line_mobile_active_3
  opacity: 0
      
    
  

  



