@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);
* {
  outline: none;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 61px;
  margin-bottom: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-shadow: 2px 0px 0px #000;
  letter-spacing: 1px;
}

@media screen and (max-width: 1845px) {
  h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1500px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1345px) {
  h1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 31px;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    margin-bottom: .5rem;
  }
}

h2:not(.news_block_h2_footer) {
  font-weight: 700;
}

@media screen and (max-width: 736px) {
  h2:not(.news_block_h2_footer) {
    font-size: 1.3rem;
  }
}

h4 {
  padding: 0 0 26px 0;
  color: #6e6e6e;
  text-shadow: 1px 0px 0px #6e6e6e;
  overflow-wrap: break-word;
  font-size: 25px;
  letter-spacing: -0.3px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1500px) {
  h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {
  h4 {
    font-size: 10px;
  }
}

@media screen and (max-width: 736px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-size: 1.1rem;
}

@media screen and (max-width: 1500px) {
  p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 11px;
  }
}

@media screen and (max-width: 1100px) {
  p {
    font-size: 9px;
  }
}

@media screen and (max-width: 736px) {
  p {
    font-size: 12px;
  }
}

html {
  overflow-x: visible;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  overflow-x: hidden;
  position: relative;
}

body header nav.navbar {
  padding: 36px 75px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav.navbar a.navbar-brand {
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  padding-bottom: 9px !important;
}

body header nav.navbar a.navbar-brand .logo {
  width: 58px;
  height: 53px;
}

body header nav.navbar a.navbar-brand p {
  padding: 0 38px 0 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14.7px;
  letter-spacing: -0.6px;
}

body header nav.navbar div {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header nav.navbar div ul li {
  padding: 0 11px;
}

body header nav.navbar div ul li a.nav-link {
  line-height: 2;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body header nav.navbar div ul li a.nav-link .active_link {
  color: #7f7f7f;
}

body header nav.navbar div ul li a.nav-link:hover {
  color: #7f7f7f;
  border-bottom: 2px solid transparent;
}

body header nav.navbar div ul li:nth-child(1) a.nav-link {
  border-bottom: 2px solid #ce0000;
}

body header nav.navbar div ul li:nth-child(2) a.nav-link {
  border-bottom: 2px solid #4d6360;
}

body header nav.navbar div ul li:nth-child(3) a.nav-link {
  border-bottom: 2px solid #1e9cd8;
}

body header nav.navbar div ul li:nth-child(4) a.nav-link {
  border-bottom: 2px solid #4d6360;
}

body header nav.navbar div ul li:nth-child(5) a.nav-link {
  border-bottom: 2px solid #d82399;
}

body header nav.navbar div ul li:nth-child(6) a.nav-link {
  border-bottom: 2px solid #2943dd;
}

body header nav.navbar div ul li:nth-child(7) a.nav-link {
  border-bottom: 2px solid #3c7ce6;
}

body header nav.navbar div ul li:nth-child(8) a.nav-link {
  border-bottom: 2px solid #fbac19;
}

body header nav.navbar div ul li:nth-child(9) {
  background: #f7e22d;
  border-radius: 16px;
  padding: 0 16px;
  margin-left: 24px;
}

body header nav.navbar div ul li:nth-child(9):hover {
  background: #fbac19;
}

body header nav.navbar div ul li:nth-child(9):hover a.nav-link {
  color: #fff !important;
}

body header nav.navbar div ul li:nth-child(9) a.nav-link {
  margin-top: 1px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1500px) {
  body header nav.navbar div ul {
    display: none;
  }
}

body main {
  padding: 0 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

@media screen and (max-width: 992px) {
  body main {
    padding: 0 15px;
  }
}

body main .owl-carousel .item {
  background: url("../img/carousel_img_fone.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 818px;
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 1500px) {
  body main .owl-carousel .item {
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  body main .owl-carousel .item {
    font-size: 48px;
  }
}

@media screen and (max-width: 992px) {
  body main .owl-carousel .item {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  body main .owl-carousel .item {
    font-size: 30px;
  }
}

body main .owl-carousel .item div:first-of-type {
  width: 150px;
  height: 150px;
  background-color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 68px;
  left: 97px;
}

@media screen and (max-width: 1600px) and (max-height: 768px) {
  body main .owl-carousel .item div:first-of-type {
    top: 48px;
  }
}

@media screen and (max-width: 1600px) {
  body main .owl-carousel .item div:first-of-type {
    width: 116px;
    height: 116px;
  }
}

@media screen and (max-width: 1200px) {
  body main .owl-carousel .item div:first-of-type {
    width: 97px;
    height: 97px;
  }
}

@media screen and (max-width: 992px) {
  body main .owl-carousel .item div:first-of-type {
    width: 89px;
    height: 89px;
    left: 30px;
  }
}

@media screen and (max-width: 500px) {
  body main .owl-carousel .item div:first-of-type {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 736px) and (max-height: 460px) {
  body main .owl-carousel .item div:first-of-type {
    display: none;
  }
}

body main .owl-carousel .item div:first-of-type img {
  display: inline-block;
  width: 75%;
  padding-top: 13px;
}

@media screen and (max-width: 1600px) and (min-width: 1500px) {
  body main .owl-carousel .item div:first-of-type img {
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 500px) {
  body main .owl-carousel .item div:first-of-type img {
    padding-top: 23px;
  }
}

body main .owl-carousel .item div:last-of-type {
  color: #fff;
  line-height: 100px;
  padding: 0 0 77px 103px;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1500px) {
  body main .owl-carousel .item div:last-of-type {
    line-height: 71px;
  }
}

@media screen and (max-width: 992px) {
  body main .owl-carousel .item div:last-of-type {
    padding-left: 60px;
  }
}

@media screen and (max-width: 992px) {
  body main .owl-carousel .item div:last-of-type {
    padding-left: 30px;
    line-height: 68px;
  }
}

body main .owl-carousel .owl-dots {
  position: absolute;
  left: 104px;
  bottom: 68px;
}

@media screen and (max-width: 992px) {
  body main .owl-carousel .owl-dots {
    left: 60px;
    bottom: 36px;
  }
}

@media screen and (max-width: 992px) {
  body main .owl-carousel .owl-dots {
    left: 30px;
  }
}

@media screen and (max-width: 736px) and (max-height: 460px) {
  body main .owl-carousel .owl-dots {
    bottom: 20px;
  }
}

body main .owl-carousel .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  border: solid 1px #fff;
  background-color: transparent;
  margin: 5px 5.3px;
}

body main .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #fff;
}

body main .home_page > div {
  color: #fff;
  height: 277px;
  overflow: hidden;
}

body main .home_page > div:nth-child(1) a > div {
  background-image: url("../img/home_celebration.jpg");
}

body main .home_page > div:nth-child(2) a > div {
  background-image: url("../img/home_polygraphy.jpg");
}

body main .home_page > div:nth-child(3) a > div {
  background-image: url("../img/home_souvenir.jpg");
}

body main .home_page > div:nth-child(4) a > div {
  background-image: url("../img/home_leading.jpg");
}

body main .home_page > div:nth-child(5) a > div {
  background-image: url("../img/home_bouquet.jpg");
}

body main .home_page > div:nth-child(6) a > div {
  background-image: url("../img/home_portrait.jpg");
}

body main .home_page > div:nth-child(7) a > div {
  background-image: url("../img/home_consultation.jpg");
}

body main .home_page > div:nth-child(8) a > div {
  background-image: url("../img/home_business_events.jpg");
  background-position: bottom right;
}

body main .home_page > div:nth-child(9) div {
  color: #000;
  background-color: #dfdfdf;
}

body main .home_page > div:nth-child(9) div h5 {
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  body main .home_page > div:nth-child(9) div h5 {
    font-size: 12px;
  }
}

body main .home_page > div:nth-child(9) div > strong {
  font-size: 10px;
}

body main .home_page > div:nth-child(9) div p {
  margin-top: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 620px) {
  body main .home_page > div:nth-child(9) div p {
    font-size: 14px;
  }
}

body main .home_page > div div:not(.block_news) {
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100.19%;
  height: 100.2%;
}

body main .home_page > div div:not(.block_news):after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0000004f;
}

body main .home_page > div div:not(.block_news):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1100px) {
  body main .home_page > div div:not(.block_news) {
    background-position: center;
  }
}

@media screen and (max-width: 1500px) {
  body main .home_page > div {
    padding: 28px;
  }
}

@media screen and (max-width: 1200px) {
  body main .home_page > div {
    padding: 18px;
  }
}

body main .home_page > div a {
  cursor: pointer;
}

body main .home_page > div a > div {
  height: 100%;
  padding: 24px 24px 24px 30px;
}

body main .home_page > div a > div div.icon_in_box_home {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 12%;
  right: 7%;
}

body main .home_page > div a > div div.icon_in_box_home img {
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

body main .home_page > div:nth-child(1) a div div {
  background-color: #ce0000;
}

body main .home_page > div:nth-child(1) a div div img {
  width: 35px;
}

body main .home_page > div:nth-child(2) a div div {
  background-color: #000;
}

body main .home_page > div:nth-child(3) a div div {
  background-color: #1e9cd8;
}

body main .home_page > div:nth-child(3) a div div img {
  width: 46px;
}

body main .home_page > div:nth-child(4) a div div {
  background-color: blue;
  overflow: hidden;
}

body main .home_page > div:nth-child(4) a div div img {
  width: 100%;
}

body main .home_page > div:nth-child(5) a div div {
  background-color: #a64785;
}

body main .home_page > div:nth-child(6) a div div {
  background-color: #ffcc00;
}

body main .home_page > div:nth-child(6) a div div img {
  width: 36px;
}

body main .home_page > div:nth-child(7) a div div {
  background-color: #2e3192;
}

body main .home_page > div:nth-child(8) a div div {
  background-color: #fbac19;
}

body main .home_page > div:nth-child(8) a div div img {
  width: 24px;
}

body main .home_page > div h3 {
  font-size: 30px;
  line-height: 40px;
  opacity: 0.8;
  letter-spacing: 0.5px;
  z-index: 1;
  position: relative;
  margin-bottom: 15px;
}

@media screen and (max-width: 1600px) {
  body main .home_page > div h3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1200px) {
  body main .home_page > div h3 {
    font-size: 23px;
  }
}

body main .home_page > div h3:not(.news_block_h2_footer) {
  width: 61%;
  color: #fff;
}

@media screen and (max-width: 1600px) {
  body main .home_page > div h3:not(.news_block_h2_footer) {
    width: 56%;
  }
}

section > .row > div:first-of-type {
  max-width: 31.5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.5%;
          flex: 0 0 31.5%;
}

.row_icon {
  padding: 0;
}

.row_icon .row {
  margin: 0 -38px 0 0;
}

.row_icon .row div {
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row_icon .row div div {
  height: 285px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 31px 32px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.row_icon .row div div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.row_icon .row div div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00000036), to(#00000000));
  background-image: linear-gradient(to top, #00000036, #00000000);
}

@media screen and (max-width: 1800px) {
  .row_icon .row div div {
    height: 257px;
    padding: 19px;
  }
}

@media screen and (max-width: 1500px) {
  .row_icon .row div div {
    height: 209px;
    padding: 19px;
  }
}

@media screen and (max-width: 1370px) {
  .row_icon .row div div {
    height: 186px;
    padding: 19px;
  }
}

section.production {
  padding: 124px 0 50px 57px;
}

@media screen and (max-width: 992px) {
  section.production {
    padding: 124px 0 70px 0;
  }
}

@media screen and (max-width: 736px) {
  section.production {
    padding: 52px 0 0 0;
  }
}

section.production > .row > div:first-of-type div {
  margin-left: -10px;
}

section.production div div:first-child div form button, section.blog_news div div:first-child div form button {
  border-radius: 40px;
  border: none;
  background: #e6e6e6;
  padding: 13px 28px;
  margin: 0 18px 25px 0;
  font-size: 21px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 700;
  letter-spacing: -0.3px;
}

section.production div div:first-child div form button:hover, section.blog_news div div:first-child div form button:hover {
  background: #f9da08;
}

@media screen and (max-width: 1805px) {
  section.production div div:first-child div form button, section.blog_news div div:first-child div form button {
    font-size: 14px;
    padding: 11px 23px;
  }
}

@media screen and (max-width: 1480px) {
  section.production div div:first-child div form button, section.blog_news div div:first-child div form button {
    font-size: 12px;
    padding: 7px 19px;
  }
}

@media screen and (max-width: 1330px) {
  section.production div div:first-child div form button, section.blog_news div div:first-child div form button {
    padding: 7px 14px;
    margin: 0 10px 19px 0;
  }
}

@media screen and (max-width: 1100px) {
  section.production div div:first-child div form button, section.blog_news div div:first-child div form button {
    font-size: 10px;
    padding: 5px 17px;
  }
}

section.production div div.row_icon .row div:nth-child(1) div, section.blog_news div div.row_icon .row div:nth-child(1) div {
  background-image: url("../img/internal_img_1.jpg");
}

section.production div div.row_icon .row div:nth-child(2) div, section.blog_news div div.row_icon .row div:nth-child(2) div {
  background-image: url("../img/internal_img_2.jpg");
}

section.production div div.row_icon .row div:nth-child(3) div, section.blog_news div div.row_icon .row div:nth-child(3) div {
  background-image: url("../img/internal_img_3.jpg");
}

section.production div div.row_icon .row div:nth-child(4) div, section.blog_news div div.row_icon .row div:nth-child(4) div {
  background-image: url("../img/internal_img_4.jpg");
}

section.production div div.row_icon .row div:nth-child(5) div, section.blog_news div div.row_icon .row div:nth-child(5) div {
  background-image: url("../img/internal_img_5.jpg");
}

section.production div div.row_icon .row div:nth-child(6) div, section.blog_news div div.row_icon .row div:nth-child(6) div {
  background-image: url("../img/internal_img_6.jpg");
}

section.production div div.row_icon .row div:nth-child(7) div, section.blog_news div div.row_icon .row div:nth-child(7) div {
  background-image: url("../img/internal_img_7.jpg");
}

section.production div div.row_icon .row div:nth-child(8) div, section.blog_news div div.row_icon .row div:nth-child(8) div {
  background-image: url("../img/internal_img_8.jpg");
}

section.shares {
  padding: 50px 0 50px 57px;
}

@media screen and (max-width: 992px) {
  section.shares {
    padding: 65px 0 65px 0;
  }
}

@media screen and (max-width: 736px) {
  section.shares {
    padding: 52px 0 0 0;
  }
}

section.shares div div.row_icon .row div:nth-child(1) div {
  background-image: url("../img/internal_img_1.jpg");
}

section.shares div div.row_icon .row div:nth-child(2) div {
  background-image: url("../img/internal_img_2.jpg");
}

section.portfolio {
  padding: 50px 0 50px 57px;
}

@media screen and (max-width: 992px) {
  section.portfolio {
    padding: 65px 0 65px 0;
  }
}

@media screen and (max-width: 736px) {
  section.portfolio {
    padding: 52px 0 0 0;
  }
}

section.portfolio div div.row_icon .row div:nth-child(1) div {
  background-image: url("../img/portfolio_img_case.jpg");
}

section.portfolio div div.row_icon .row div:nth-child(2) div {
  background-image: url("../img/portfolio_img_case.jpg");
}

section.portfolio div div.row_icon .row div:nth-child(3) div {
  background-image: url("../img/portfolio_img_case.jpg");
}

section.portfolio div div.row_icon .row div:nth-child(4) div {
  background-image: url("../img/portfolio_img_case.jpg");
}

section.reviews {
  padding: 50px 0 50px 57px;
}

@media screen and (max-width: 992px) {
  section.reviews {
    padding: 65px 0 65px 0;
  }
}

@media screen and (max-width: 736px) {
  section.reviews {
    padding: 52px 0 0 0;
  }
}

section.reviews div div.row_icon .row div:nth-child(1) div {
  background-image: url("../img/reviews_internal_1.jpg");
}

section.reviews div div.row_icon .row div:nth-child(2) div {
  background-image: url("../img/reviews_internal_2.jpg");
}

section.reviews div div.row_icon .row div:nth-child(3) div {
  background-image: url("../img/reviews_internal_3.jpg");
}

section.chatter_block {
  padding: 50px 0 50px 57px;
}

@media screen and (max-width: 992px) {
  section.chatter_block {
    padding: 65px 0 65px 0;
  }
}

@media screen and (max-width: 736px) {
  section.chatter_block {
    padding: 52px 0 0 0;
  }
}

section.chatter_block .row div:first-child h4 {
  width: 85%;
  line-height: 1.6;
}

section.chatter_block .row div:last-child {
  padding: 0 0 0 16px;
}

@media screen and (max-width: 992px) {
  section.chatter_block .row div:last-child {
    padding: 0 15px;
  }
}

section.chatter_block .row div:last-child h2 {
  padding: 21px 0 26px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: -0.8px;
}

section.chatter_block .row div:last-child h5 {
  color: #3da100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -0.9px;
}

section.chatter_block .row div:last-child p {
  line-height: 1.7;
  margin-bottom: 34px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17.9px;
  letter-spacing: -0.1px;
}

section.constructor {
  padding: 45px 0 105px 57px;
}

@media screen and (max-width: 992px) {
  section.constructor {
    padding: 65px 0 105px 0;
  }
}

@media screen and (max-width: 736px) {
  section.constructor {
    padding: 52px 0 52px 0;
  }
}

section.constructor .row div:last-child {
  padding: 0 0 0 15px;
}

section.blog_news {
  padding: 124px 0 54px 0;
}

@media screen and (max-width: 1200px) {
  section.blog_news {
    padding: 48px 0 40px 0;
  }
}

section.blog_news .row {
  border-bottom: 1px solid #aaa;
}

section.blog_news .row > div:first-child {
  padding-left: 88px;
}

@media screen and (max-width: 1200px) {
  section.blog_news .row > div:first-child {
    padding-left: 15px;
  }
}

section.blog_news .row > div:first-child h4 {
  padding: 0 0 49px 0;
  line-height: 1.5;
  width: 90%;
}

section.blog_news .row > div.blog_news_tab div.list div {
  padding: 16px 0 40px 0;
  border-bottom: 1px solid #aaa;
}

section.blog_news .row > div.blog_news_tab div.list div > p {
  font-weight: 600;
}

@media screen and (max-width: 1845px) {
  section.blog_news .row > div.blog_news_tab div.list div {
    padding: 9px 0 40px 0;
  }
}

@media screen and (max-width: 1500px) {
  section.blog_news .row > div.blog_news_tab div.list div {
    padding: 7px 0 40px 0;
  }
}

@media screen and (max-width: 1200px) {
  section.blog_news .row > div.blog_news_tab div.list div {
    padding: 75px 0 40px 0;
  }
}

section.blog_news .row > div.blog_news_tab div.list div > strong {
  font-size: 12px;
}

section.blog_news .row > div.blog_news_tab div.list div > h2 {
  margin: 13px 0 30px 0;
  font-family: Myriad Pro;
}

section.blog_news .row > div.blog_news_tab div.list div img {
  padding: 0 0 29px 0;
}

section.blog_news .row > div.blog_news_tab div.list div > div:last-child {
  padding: 40px 0 40px 0;
  border-bottom: none;
}

footer.template_footer {
  padding: 0 30px 110px 30px;
}

@media screen and (max-width: 1200px) {
  footer.template_footer {
    padding: 0 30px 30px 30px;
  }
}

footer.template_footer > .row:before {
  display: none;
}

footer {
  padding: 65px 30px 110px 47px;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 70px 15px 27px 15px;
  }
}

footer > .row {
  position: relative;
}

footer > .row:before {
  content: '';
  border-bottom: solid 1px #aaa;
  position: absolute;
  top: -70px;
  width: 100%;
}

footer > .row > div:first-of-type, .template_footer > .row > div:first-of-type {
  padding: 0 55px 0 58px;
}

@media screen and (max-width: 992px) {
  footer > .row > div:first-of-type, .template_footer > .row > div:first-of-type {
    padding: 0 15px;
  }
}

footer > .row > div:first-of-type p, .template_footer > .row > div:first-of-type p {
  font-size: 20px;
  line-height: 33px;
}

@media screen and (max-width: 1500px) {
  footer > .row > div:first-of-type p, .template_footer > .row > div:first-of-type p {
    font-size: 15px;
  }
}

footer > .row > div:first-of-type h2 span, .template_footer > .row > div:first-of-type h2 span {
  border-bottom: solid 1px #0000004a;
  color: #000;
  font-size: 40.99px;
  font-weight: 500;
  letter-spacing: -0.6px;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 0px 0px 0px #000000;
}

footer > .row > div:first-of-type > strong, .template_footer > .row > div:first-of-type > strong {
  font-size: 12px;
}

footer .social_icons_email div:last-of-type, .template_footer .social_icons_email div:last-of-type {
  padding: 19px 0 0 0;
}

footer .social_icons_email div:last-of-type a, .template_footer .social_icons_email div:last-of-type a {
  font-family: Myriad Pro;
  font-size: 20px;
  color: #000;
}

footer .social_icons_email div:last-of-type a span:after, .template_footer .social_icons_email div:last-of-type a span:after {
  content: '';
  border-bottom: solid 1px #000;
  display: block;
  width: 148px;
}

@media screen and (max-width: 1500px) {
  footer .social_icons_email div:last-of-type a, .template_footer .social_icons_email div:last-of-type a {
    font-size: 15px;
  }
}

footer .social_icons_email div a .social_icon_svg, .template_footer .social_icons_email div a .social_icon_svg {
  width: 35px;
  height: 42px;
  margin: 0 27px 0 0;
}

footer .social_icons_email div a:first-of-type .social_icon_svg, .template_footer .social_icons_email div a:first-of-type .social_icon_svg {
  width: 42px;
}

footer .social_icons_email div a:nth-child(2) .social_icon_svg, .template_footer .social_icons_email div a:nth-child(2) .social_icon_svg {
  width: 42px;
}

footer .address_map p, .template_footer .address_map p {
  padding-top: 70px;
  font-family: Myriad Pro;
  font-size: 20px;
}

@media screen and (max-width: 1500px) {
  footer .address_map p, .template_footer .address_map p {
    font-size: 16px;
  }
}

footer .address_map iframe, .template_footer .address_map iframe {
  width: 100%;
  height: 547px;
}

.tel_number_1 a,
.tel_number_2 a {
  line-height: 0.67;
  color: #000000;
}

.tel_number_1 {
  font-size: 12px;
  line-height: 2.67;
}

@media screen and (max-width: 488px) {
  .tel_number_1 {
    padding-top: 20px;
  }
}

.tel_number_1 a {
  font-size: 25px;
  font-weight: bold;
  line-height: 0.67;
  padding-top: 16px;
}

.tel_number_2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 3.7;
  font-family: 'Myriad Pro';
}

@media screen and (max-width: 1500px) {
  .tel_number_2 {
    font-size: 14px;
    padding-top: 9px;
  }
}

.tel_number_2 a {
  font-size: 60px;
}

@media screen and (max-width: 1500px) {
  .tel_number_2 a {
    font-size: 38px;
  }
}

@media screen and (max-width: 420px) {
  .tel_number_2 a {
    font-size: 31px;
  }
}

form.submit_application_1 button,
form.submit_application_2 button {
  border-radius: 40px;
  border: none;
  background: #f9da08;
  padding: 13px 28px;
  font-size: 21px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 700;
  letter-spacing: -0.5px;
}

form.submit_application_1 button:hover,
form.submit_application_2 button:hover {
  background: #ff98009e;
}

@media screen and (max-width: 1500px) {
  form.submit_application_1 button,
  form.submit_application_2 button {
    font-size: 14px;
    padding: 8px 23px;
  }
}

form.submit_application_1 {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

@media screen and (max-width: 1200px) {
  form.submit_application_1 {
    position: relative;
    margin: 20px 0;
  }
}

form.submit_application_2 {
  margin: 9px 0 0 0;
}

@media screen and (max-width: 992px) {
  form.submit_application_2 {
    margin: 9px 0 55px 0;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #D6D6D6;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #D39C74;
}

.modal-backdrop {
  background-color: transparent;
}

.modal-dialog {
  max-width: 63%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .modal-dialog {
    max-width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .modal-dialog {
    max-width: 90%;
  }
}

.modal-dialog .modal-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  border: none;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .modal-dialog .modal-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal-dialog .modal-content .modal-header img {
  height: 101%;
}

.modal-dialog .modal-content .modal-body {
  padding: 68px 36px 0 24px;
}

.modal-dialog .modal-content .modal-body p {
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .modal-dialog .modal-content .modal-body p {
    font-size: 12px;
  }
}

.modal-dialog .modal-content .modal-body .close {
  position: absolute;
  top: 15px;
  right: 24px;
  font-size: 40px;
}

.modal-dialog .modal-content .modal-body .modal-title {
  line-height: 35px;
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .modal-dialog .modal-content .modal-body .modal-title {
    font-size: 18px;
    line-height: 25px;
  }
}

#tab_1 {
  display: block;
}

.list {
  display: none;
}

.menu_1 {
  width: 300px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  position: absolute;
  top: 39px;
  right: -370px;
  z-index: 9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.menu_1 > button {
  position: absolute;
  right: 8%;
  top: 2%;
  display: none;
}

@media screen and (max-width: 1500px) {
  .menu_1 > button {
    display: block;
  }
}

.menu_1 > button span {
  border-bottom: 2px solid #000;
  display: block;
  width: 16px;
  margin: 3.5px 0;
}

.menu_1 .navbar-nav {
  font-size: 20px;
  line-height: 46px;
  border-bottom: 1px solid #000;
  padding: 24px 30px;
}

.menu_1 .navbar-nav .nav-link {
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_1 .navbar-nav .nav-link:hover {
  color: #FF5722;
}

.menu_1 .box_form {
  padding: 18px 30px 8px;
}

.menu_1 .box_form .form-group label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
}

.menu_1 textarea.form-control {
  min-height: 95px;
  resize: none;
}

.menu_1 .button_menu {
  width: 30px;
  height: 30px;
  border: solid 1px #bfbfbf;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  padding-right: 1px;
  left: -127px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_1 .button_menu span {
  border-bottom: 2px solid #000;
  display: block;
  width: 16px;
  margin: 1.5px 0;
}

.menu_1 h3 {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 900;
}

.menu_1 form button {
  border-radius: 40px;
  border: none;
  background: #ecd73d;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 8px;
  width: 100%;
  font-size: 16.3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: -0.5px;
}

.menu_1 form button:hover {
  background: #ef9819;
}

.menu_1 form .form-check label {
  margin: 3px 0 20px 0;
  line-height: 1.4;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.menu_1 .social_icon_svg {
  margin-bottom: 12px;
}

.menu_1 .social_icon_svg a svg {
  width: 18px;
  height: 19px;
  margin: .5em;
}

.menu_1 .orange_img_menu {
  margin: 118px 0 37px 0;
}

.menu_1 .orange_img_menu svg {
  width: 50px;
  height: 50px;
}

.menu_1 p {
  line-height: 1.4;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.hidden_menu_1 {
  right: 54px;
}

.position_menu_button {
  left: -5% !important;
  top: 2% !important;
}

.navbar_line_active_1,
.navbar_line_active_2 {
  width: 9.1px !important;
  margin: 0 !important;
}

@media screen and (max-width: 1600px) {
  .navbar_line_active_1,
  .navbar_line_active_2 {
    width: 10.6px !important;
  }
}

.navbar_line_active_1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar_line_active_2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar_line_active_3 {
  opacity: 0;
}

.navbar_line_mobile_active_1,
.navbar_line_mobile_active_2 {
  position: absolute;
}

.navbar_line_mobile_active_1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.navbar_line_mobile_active_2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}

.navbar_line_mobile_active_3 {
  opacity: 0;
}

.button_transform {
  font-size: 11px !important;
}

.tel_size_transform {
  font-size: 61px !important;
}

.active_news_padding {
  padding-left: 0 !important;
}

.active_link {
  color: #7f7f7f !important;
  border-bottom: 2px solid transparent !important;
}

.p_transform {
  font-size: 14px !important;
}

@media screen and (max-width: 1600px) {
  .p_transform {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1418px) and (min-width: 1200px) {
  .p_transform {
    font-size: 10px !important;
  }
}

.nav_transform {
  width: calc( 100% - 357px);
  padding-right: 25px !important;
}

.main_transform {
  width: calc( 100% - 357px);
  padding-right: 0;
}

@media screen and (max-width: 982px) {
  .main_transform {
    width: 100%;
  }
}

.link_transform {
  font-size: 17px;
  letter-spacing: -1px;
}
/*# sourceMappingURL=style.css.map */